.p-6 {
	padding: 3.5rem !important;
}

.p-7 {
	padding: 4rem !important;
}

.p-8 {
	padding: 4.5rem !important;
}

.p-9 {
	padding: 5rem !important;
}

.p-10 {
	padding: 5.5rem !important;
}

.fs-big {
  font-size: 2rem !important;
}

.icons {
  margin-left: 40%;
  margin-right: auto;
}